<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Babyhub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/forum.css" />
	<link rel="icon" href="/images/bear.png" type="image/ico" />
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet">
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/">
				<img class="textlogopic" src="/images/textlogo.png">
			</a>
			<nav class="main">
				<ul>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="/childEducation2">
							<h3>小孩教育</h3>
							<p>提供小孩教育的知識。</p>
						</a>
					</li>
					<li>
						<a href="/pregnancyKnowledge2">
							<h3>孕期知識</h3>
							<p>孕期知識、胎教等。</p>
						</a>
					</li>
					<li>
						<a href="/forum2">
							<h3>討論區</h3>
							<p>跟媽媽們討論各種知識。</p>
						</a>
					</li>
				</ul>
			</section>
			<!-- Actions -->
			<section>
				<ul class="actions stacked">
					<li>
						<a href="/signIn" class="button large fit">登入 Sign In</a>
					</li>
					<li>
						<a href="/register" class="button large fit">註冊 Register</a>
					</li>
				</ul>
			</section>
			<!-- Footer -->
			<section id="footer">
				<ul class="icons">
					<li><a href="mailto:10456015@ntub.edu.tw" class="fa-envelope"><span class="label">Email</span></a>
					</li>
					<li><a href="https://github.com/BabyhubNTUB" class="fa-github-square"><span
								class="label">github</span></a></li>
				</ul>
				<p class="copyright">Copyright&copy;NTUB IMD 108509</p>
			</section>

		</section>


		<!-- Main -->
		<div id="main">
			<div class="row">
				<div class="col-md-12">
					<article class="post">
						<header>
							<div class="title">
								<h2><a><strong><%= result.aforum.forumname %></strong></a></h2>
								<br>
								<time class="published" datetime="2015-11-01" style="color: #9e9e9e;"><%= result.aforum.forumdate %></time>
							</div>
							<div class="meta">
								<a style="font-size: 100%;" class="author"><%= result.cnt.username %></a>
								<a style="font-size: 100%;" class="author"><img class="circle" src="/images/<%= result.cnt.photo %>" /></a>
							</div>
						</header>
						<p><%= result.aforum.content %></p>
						<footer>
							<ul class="stats">
								<a class="icon fa-heart-o"> <%= result.cnt.cntlike %></a>
								<a class="icon fa-comments-o"> <%= result.cnt.cntcomment %></a>
							</ul>
						</footer>
					</article>
				</div>
				<div class="col-md-12">
					<article class="message">
						<h3>留言回應</h3>
						<% for(var i=0; i<result.com.length; i++) {%>
						<div class="list-group-item" style="background: #fffcee;">
							<p><a href="#" class="author"><img src="/images/<%= result.com[i].photo %>" alt="">
									<span class="mesname"><%= result.com[i].username %></span></a></p>
							<div class="col-md-12">
								<p><%= result.com[i].content %></p>
							</div>
						</div>
						<% } %>
					</article>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/scripts.js"></script>

</body>

</html>