<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Babyhub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" href="images/logo.png" type="image/ico" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/homepage">
				<img class="textlogopic" src="/images/textlogo.png">
			</a>
			<nav class="main">
				<ul>
					<li class="bell">
						<a class="fa-bell" href="#menu">Bell</a>
					</li>
					<li class="bell">
						<a class="fa-user" href="/profile">Bell</a>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>
	</div>
	<!-- Menu -->
	<section id="menu">

		<!-- Links -->
		<section>
			<ul class="links">
				<li>
					<a href="/childEducation">
						<h3>小孩教育</h3>
						<p>提供小孩教育的知識。</p>
					</a>
				</li>
				<li>
					<a href="/pregnancyKnowledge">
						<h3>孕期知識</h3>
						<p>孕期知識、胎教等。</p>
					</a>
				</li>
				<li>
					<a href="/forum">
						<h3>討論區</h3>
						<p>跟媽媽們討論各種知識。</p>
					</a>
				</li>

				<li>
					<a href="/growrecord">
						<h3>成長紀錄</h3>
						<p>填寫寶寶的身體變化吧！</p>
					</a>
				</li>
				<li>
					<a href="/diary">
						<h3>日記</h3>
						<p>填寫寶寶每日的生活小點滴吧！</p>
					</a>
				</li>
			</ul>
		</section>
		<!-- Actions -->
		<section>
			<ul class="actions stacked">
				<li>
					<a href="/logout" class="button large fit">登出 Logout</a>
				</li>
			</ul>
		</section>
		<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="mailto:10456015@ntub.edu.tw" class="fa-envelope"><span class="label">Email</span></a></li>
				<li><a href="https://github.com/BabyhubNTUB" class="fa-github-square"><span
							class="label">github</span></a></li>
			</ul>
			<p class="copyright">Copyright&copy;NTUB IMD 108509</p>
		</section>

	</section>

	<!-- Main -->
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12" style="text-align: right;">
					<!-- Search -->
					<section>
						<form class="search2" method="get" action="/searchdiary">

							<input type="text" class="form-control" name="id" value="<%= item.diary[0].id %>" hidden />
							<input type="date" name="keyword" placeholder="Search"
								style="background: none; margin: auto;" />
							<button type="submit"
								style="width:10%; height:50%; text-align: center; padding: 0; font-family:'Noto Sans TC', sans-serif; font-weight:normal; margin-right:0; ">搜尋</button>
						</form>
					</section>
				</div>
			</div>

			<div class="card" style="background: none;">
				<div class="card-block">
					<form action="/diary_add" method="post">
						<div class="form-group">
							<p class="head"><img src="images/edit.png">　寫日記</p>
							<input type="text" class="form-control" name="id" value="<%= item.diary[0].id %>" hidden />
							<input type="text" class="form-control" name="diary" />
						</div>
						<button type="submit">
							撰寫
						</button>
					</form>
				</div>
			</div>
			<% for(var i=0; i<item.diary.length; i++) {%>
			<div class="card" style="background: none;">
				<div class="card-block">
					<h5 class="card-title">
						日記
					</h5>
					<p class="card-text">
						<%= item.diary[i].diarydate %>
						<br>
						<br><%= item.diary[i].diary %>
						<br>
					</p>
					<p>
						<a class="btn" href="/updatediary/<%= item.diary[i].serno %>">編輯</a>
						<form action="/diary_del" method="post">
							<input type="text" class="form-control" name="serno" value="<%= item.diary[i].serno %>"
								hidden />
							<button type="submit" style="box-shadow:none; float:right; height: 5%;">
								刪除
							</button>
						</form>
					</p>
				</div>
			</div>
			<% } %>
		</div>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>tinymce.init({ selector: 'textarea' });</script>

</body>

</html>