<!DOCTYPE HTML>
<!--
    Future Imperfect by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Babyhub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="images/bear.png" type="image/ico" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
		<header id="header">
			<a href="/homepage">
				<img class="textlogopic" src="/images/textlogo.png">
			</a>
			<nav class="main">
				<ul>
					<li class="profile" id="profile">
						<a class="fa-bell">Bell</a>
					</li>
					<li class="bell">
						<a class="fa-user" href="/profile">Bell</a>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu">Menu</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="profile" id="profileList">
			<% for(var i=0; i<noti.length; i++) {%>
			<div class="profileList">
				<div class="list-group-item">
					<a href="/aforum/<%= noti[i].forumno %>">
						<span><%= noti[i].content %></span>
					</a>
				</div>
			</div>
			<% } %>
		</div>
        <!-- Menu -->
        <section id="menu">

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="/childEducation">
                            <h3>小孩教育</h3>
                            <p>提供小孩教育的知識。</p>
                        </a>
                    </li>
                    <li>
                        <a href="/pregnancyKnowledge">
                            <h3>孕期知識</h3>
                            <p>孕期知識、胎教等。</p>
                        </a>
                    </li>
                    <li>
                        <a href="/forum">
                            <h3>討論區</h3>
                            <p>跟媽媽們討論各種知識。</p>
                        </a>
                    </li>
                    <li>
                        <a href="/growrecord">
                            <h3>成長紀錄</h3>
                            <p>填寫寶寶的身體變化吧！</p>
                        </a>
                    </li>
                    <li>
                        <a href="/diary">
                            <h3>日記</h3>
                            <p>填寫寶寶每日的生活小點滴吧！</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    <li style="text-align: center; ">
                        <a >加入我們的LineBOT!</a>
                        <img class="textlogopic" src="/images/QRcode.jpg" href="http://line.me/ti/p/@777ddoex">
                        <a href="/logout" class="button large fit">登出 Logout</a>
                    </li>
                </ul>
            </section>
            <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="mailto:10456015@ntub.edu.tw" class="fa-envelope"><span class="label">Email</span></a>
                    </li>
                    <li><a href="https://github.com/BabyhubNTUB" class="fa-github-square"><span
                                class="label">github</span></a></li>
                </ul>
                <p class="copyright">Copyright&copy;NTUB IMD 108509</p>
            </section>

        </section>

        <!-- Main -->
        <div id="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profilePage">
                            <img id="img" src="/images/<%= result.user.photo %>" />
                        </div>
                        <ul class="links">
                            <li>
                                <a href="/addbaby">
                                    <h4>新增寶寶</h4>
                                </a>
                                <ul class="links">
                                    <% for(var i=0; i<result.baby.length; i++) {%>
                                    <li>
                                        <a href="/baby/<%= result.baby[i].babyno %>">
                                            <strong><%= result.baby[i].name %></strong>
                                        </a>
                                    </li>
                                    <% } %>
                                </ul>
                            </li>
                            <li>
                                <a href="/profilesetting">
                                    <h4>會員設定</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/myforum">
                                    <h4>我的文章</h4>
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    <h4>回會員</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <form action="/user_update" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label for="exampleInputUsername1">
                                    姓名
                                </label>
                                <input type="text" class="form-control" name="username"
                                    value="<%= result.user.username %>" />
                                <label for="exampleInputUsername1">
                                    帳號
                                </label>
                                <input type="text" class="form-control" name="id" value="<%= result.user.id %>"
                                    readonly />
                                <label for="exampleInputPassword1">
                                    新密碼
                                </label>
                                <input type="password" class="form-control" name="password"
                                    value="<%= result.user.password %>" />
                            </div>
                            <input accept="image/*" id="uploadImage" name="photo" type="file">
                            <script>
                                $("#uploadImage").change(function () {
                                    readImage(this);
                                });

                                function readImage(input) {
                                    if (input.files && input.files[0]) {
                                        var FR = new FileReader();
                                        FR.onload = function (e) {
                                            //e.target.result = base64 format picture
                                            $('#img').attr("src", e.target.result);
                                        };
                                        FR.readAsDataURL(input.files[0]);
                                    }
                                }
                            </script>
                            <br><br>
                            <button type="submit">
                                更改
                            </button>
                        </form>
                        <form action="/user_del" method="post">
                            <input type="text" class="form-control" name="id" value="<%= result.user.id %>" hidden />
                            <button type="submit">
                                刪除
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>

</body>

</html>